@model dynamic
@{
    this.ViewBag.Title = "Про нас | MediBook";
}

<div class="container__content content content--highlighted">
    <div class="__box">
        <h1>MediBook - Зручний і швидкий спосіб отримати медичну допомогу</h1>
        <p>Ми розуміємо, наскільки важливо мати швидкий доступ до кваліфікованої медичної допомоги. На нашому сайті ви можете легко записатися на консультацію до лікаря, вибравши зручний для вас формат: онлайн або офлайн в медичному закладі.</p>
    </div>
</div>

<div class="container__content content">
    <div class="__box">
        <h2>Як це працює:</h2>
        <ul>
            <li style="margin-bottom: 2.25em">
                <b>Обирайте спеціаліста</b>
                <p>Перегляньте список лікарів різних спеціалізацій та оберіть того, хто відповідає вашим потребам.</p>
            </li>
            <li style="margin-bottom: 2.25em">
                <b>Записуйтеся на прийом</b>
                <p>Виберіть зручний вільний слот у розкладі лікаря та формат консультації (онлайн або офлайн).</p>
            </li>
            <li style="margin-bottom: 2.25em">
                <b>Консультація та лікування</b>
                <p>Отримайте професійну консультацію у зручному для вас форматі. Під час консультації лікар має доступ до вашої медичної історії з діагнозами та висновками інших спеціалістів, що дозволяє забезпечити комплексний підхід до вашого лікування.</p>
            </li>
        </ul>
    </div>
</div>