@model dynamic
@{
    this.ViewBag.Title = this.Model.Page.Title;
    this.ViewBag.MetaKeywords = this.Model.Page.MetaKeywords;
    this.ViewBag.MetaDescription = this.Model.Page.MetaDescription;
}
<div class="main-banner"></div>
<div class="container__content content content--highlighted">
    <div class="__box">
        <h1>Зручний і швидкий спосіб отримати медичну допомогу</h1>
        <p>Ми розуміємо, наскільки важливо мати швидкий доступ до кваліфікованої медичної допомоги. На нашому сайті ви можете легко записатися на консультацію до лікаря, вибравши зручний для вас формат: онлайн або офлайн в медичному закладі.</p>
    </div>
</div>
<div class="container__content content">
    <div class="__box">
        <h2>Як це працює:</h2>
        <ul>
            <li style="margin-bottom: 2.25em">
                <b>Обирайте спеціаліста</b>
                <p>Перегляньте список лікарів різних спеціалізацій та оберіть того, хто відповідає вашим потребам.</p>
            </li>
            <li style="margin-bottom: 2.25em">
                <b>Записуйтеся на прийом</b>
                <p>Виберіть зручний вільний слот у розкладі лікаря та формат консультації (онлайн або офлайн).</p>
            </li>
            <li style="margin-bottom: 2.25em"> 
                <b>Консультація та лікування</b>
                <p>Отримайте професійну консультацію у зручному для вас форматі. Під час консультації лікар має доступ до вашої медичної історії з діагнозами та висновками інших спеціалістів, що дозволяє забезпечити комплексний підхід до вашого лікування.</p>
            </li>
        </ul>
    </div>
</div>
<div class="container__content content content--highlighted">
    <div class="__box">
        <h2>Чому обирають нас:</h2>
        <p>
            <h3 style="margin-top: 3rem;">Зручність і доступність</h3>
            Записуйтеся до лікаря у будь-який час, без необхідності дзвонити та чекати в черзі.

            <h3 style="margin-top: 3rem;">Кваліфіковані спеціалісти</h3>
            У нашій команді працюють досвідчені лікарі з різних медичних напрямків.

            <h3 style="margin-top: 3rem;">Повна історія хвороби</h3>
            Лікарі мають доступ до вашої медичної історії, що допомагає приймати обґрунтовані рішення щодо вашого лікування.

            <h3 style="margin-top: 3rem;">Онлайн та офлайн консультації</h3>
            Обирайте зручний для вас формат: онлайн-консультація з дому або живий прийом у медичному закладі.
        </p>
        <b>
            Не відкладайте своє здоров’я на потім. Запишіться на консультацію до лікаря вже сьогодні!
        </b>
    </div>
</div>