@model MediBook.ViewModels.Account.RestorePasswordViewModel
@{
  this.ViewBag.Title = "Відновлення паролю | MediBook";
}

<div class="container__content content">
  <div class="__box">
    <h1>Відновлення паролю</h1>
    <form class="form" method="post">
      <div class="form__field field">
        <label class="field__label label" asp-for="Email"></label>
        <input class="field__text-box text-box" asp-for="Email" type="text" />
        <span asp-validation-for="Email"></span>
      </div>
      <div class="form__buttons buttons">
        <button class="buttons__button button button--positive" type="submit">Відновити</button>
      </div>
    </form>
  </div>
</div>
